<%= render @book %>

<div>
  <%= link_to "Edit", edit_book_path(@book) %> |
  <%= link_to "Destroy", book_path(@book), "data-turbo-method": :delete %> |
  <%= link_to "Back to books", books_path %>
</div>
